@model KisaRisaMusicCore.Models.FileKisa
@{
    Layout = "_Layout";
}
@{
    ViewBag.Title = "File add";
}
<form asp-action="create" asp-controller="File" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="uploadedFile" /><br>
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>