@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Some information about my project.</p>
    <p>So its like music storage, here u can look at global playlist and add liked tracks to yours.</p>
</div>