@using KisaMusic.Domain.Models;
@model IEnumerable<GlobalPlaylist>
@{
    ViewData["Title"] = "Your playlist";
}
<h1>@ViewData["Title"]</h1>

@foreach (GlobalPlaylist globalPlaylist in Model)
        {
            <p>@globalPlaylist.Playlists.Title</p>
            @Html.ActionLink("DisplayText", "Playlist", "Playlist")
        }

