@using KisaRisaMusicCore.Models

<li class="panel-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Track" asp-action="CRUD">Track crud</a>
</li>
<li class="panel-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="File" asp-action="CRUD">File crud</a>
</li>
<li class="panel-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role crud</a>
</li>
<li class="panel-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="CRUD">Album crud</a>
</li>
<li class="panel-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="CRUD">Artist crud</a>
</li>
